body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

nav	{
	background-color: white;
}

a.nav-link {
	color: green;
}

a.navbar-brand {
	color: red;
	font-style: italic;
}

a.navbar-brand > span {
	color: blue;
}

i.material-icons.dehaze.blue {
	color: Lime;
}

div.container {
	margin-top: 60px;
}

a.navbar-brand > span {
	font-family: 'Damion', cursive;
	font-size: 1.55em;
}
