<!DOCTYPE html>
<html>
<head>
	<title> {% block title %} {% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">  
</head>
<body>
	
	<nav class="w3-sidebar w3-black w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  		<a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Cerrar Menu</a>

<!-- Modifico esto para que salga solo el logo no el nombre de la empresa   	
  		<div class="w3-container">
    		<h3 class="w3-padding-64"><b>Soluciones Integrales<br>Ignacion Cagua</b></h3>
  		</div>
-->
		<img src="static/img/logo.png" alt="Fjords" style="width:100%">

  		<div class="w3-bar-block w3-padding-32">
    		<a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Servicios</a> 
			<a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contacto</a>
			<a href="{{ url_for('login')}}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Login</a>
  		</div>
	</nav>

<!-- Top menu on small screens -->
	<header class="w3-container w3-top w3-hide-large w3-black w3-xlarge w3-padding">
  		<a href="javascript:void(0)" class="w3-button w3-black w3-margin-right" onclick="w3_open()">☰</a>
  		<span>Soluciones Integrales Ignacio Cagua Beltrán</span>
	</header>

<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->

{% block content %}

{% endblock %}

<!-- End page content -->

	<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px">
	<p>Cels: 310 488 4408 </p>
	<p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p>
	</div>

	<script>
	// Script to open and close sidebar
	function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
	}
 
	function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
	}

	// Modal Image Gallery
	function onClick(element) {
  	document.getElementById("img01").src = element.src;
  	document.getElementById("modal01").style.display = "block";
  	var captionText = document.getElementById("caption");
  	captionText.innerHTML = element.alt;
	}

	</script>
</body>
</html>