<!DOCTYPE html>
<html>
  <title>Soluciones Integrales</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Damion&display=swap" rel="stylesheet">

  <!-- Google Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>

  <!-- My static files -->
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <script type="text/javascript" src="/static/js/index.js"></script>
<body>

<!-- Top Nav / Menu -->
<nav class="navbar fixed-top navbar-expand-lg bg-light">
  <a class="navbar-brand" href="#">Soluciones Integrales <span class="d-none d-md-inline-block">ignacio cagua beltrán</span></a>
  <button class="navbar-toggler" 
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <i class="material-icons dehaze blue">dehaze</i>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#company">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contacto</a>
      </li>
      <li class="nav-item"  style="float: right;">
        <a class="nav-link" href="./login">Ingreso</a>
      </li>
    </ul>
  </div>
</nav>
<!-- End Top Nav / Menu -->

<div class="container">
  <div class="row">
    <div class="col">
      
      <!-- Carrusel -->
      <div class="row mt-3 bg-inverse">
        <div class="col d-flex justify-content-center">
          <div id="carousel" class="carousel slide" data-ride="carousel" style="width: 75%; height: 75%;">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="2000">
                <img src="/static/img/parque1_1.jpeg" class="d-block w-100" alt="Parque 1">
                <div class="carousel-caption d-none d-md-block" style="font-weight: bold; color: black">
                  <h5>Parque 1</h5>
                  <p>Parque 1</p>
                </div>
              </div>
              <div class="carousel-item" data-interval="2000">
                <img src="/static/img/parque2_2.jpeg" class="d-block w-100" alt="Parque 2">
              </div>
              <div class="carousel-item" data-interval="3000">
                <img src="/static/img/parque3_2.jpeg" class="d-block w-100" alt="Parque 3">                
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <!-- End Carrusel -->
      
      <!-- Company -->
      <div class="row p-2" id="company">
        <h3>Nosotros</h3>
      </div>
      
      <!-- Services -->
      <div class="row p-2" id="services">
        <div class="col">
          <h3>Servicios</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Servicios</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>

      <div class="row p-2" id="projects">
        <h3>Proyectos</h3>
      </div>

      <div class="row p-2" id="contact">
        <h3>Contacto</h3>
      </div>

    </div>
  </div>
</div>

<!-- !PAGE CONTENT! -->

Servicios

Venta y suministro de:
  Uniformes deportivos
  Balonería
  Accesorios para toda clase de deporte
  Zapatos deportivos
  Material publicitario
  Trofeos, medallas, cintas y placas
  Instrumentos musicales
  Juguetería

Apoyo a la gestión de
  Eventos deportivos, culturales y recreativos
  Mantenimiento, adecuación y construcción de escenarios deportivos y recreativos
  
  <!-- Contact -->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contacto</b></h1>
    <p>Algún texto relacionado con la solicitud del mensaje</p>
    <form id="contact-form" method='POST' action="/procesa_mensaje_contacto">
      {{ form.csrf_token }}
      <div class="w3-section">
        <label>Nombre</label>
        {{ form.username(class='w3-input w3-border') }}
      </div>
      <div class="w3-section">
        <label>Email</label>
        {{ form.email(class='w3-input w3-border', type='email') }}
      </div>
      <div class="w3-section">
        <label>Mensaje</label>
        {{ form.message(class='w3-input w3-border') }}
      </div>
      <div id="successAlert" class="w3-panel w3-green w3-card-4 w3-padding-16" role="alert" style="display: none;"></div>
      <div id="errorAlert" class="w3-panel w3-red w3-card-4 w3-padding-16" role="alert" style="display: none;"></div>
      <button class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom"> {{ form.sumbit }} {{ form.submit.label }} </button>
      <!-- <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom"> Send</button> -->
    </form>  
  </div>

<!-- End page content -->

<!-- W3.CSS Container -->
  <div class="w3-light-grey w3-container w3-teal w3-padding-16" style="margin-top:35px;padding-right:38px">
    <p class="w3-opacity">Cels: 310 488 4408 - 317 693 7840</p>
    <p class="w3-opacity">Email: icbcagua@hotmail.com</p>
    <p class="w3-opacity w3-right w3-small">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p>
  </div>

</body>
</html>
