<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    #formulario-ingreso {
      background-color: #f1f1f1;
      padding-top: 20px;
    }

    h1{
      text-align: center;
      padding-bottom: 50px;
    }
  </style>
</head>
<body>

<div class="container" id="formulario-ingreso">
  <div class="col-sm-4">    
      <h1>Inicio de Sesión</h1> 
      <form method="POST" action="/login">
        {{ form.csrf_token }}
        <div class="form-group">
          <label for="email">Usuario: </label>
          {{ form.username(class='form-control') }}
        </div>
        <div class="form-group">
          <label for="email">Contraseña: </label>
          {{ form.password(class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.submit(class='btn btn-default') }}
          </div>              
      </form>
    </div>
  </div>    
</div>

</body>
</html>
