<!DOCTYPE html>
<html>
<head>
	<title>Remisión: {{ remision['num_remision'] }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
		@page {
			size: a4;
			margin: 5mm 7mm 5mm 7mm;
		}

		.logo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 40%;
		}
	</style>
</head>
<body>
<div>
	
	<!-- Encabezado -->
	<div>
		<div>
			<img src="/static/img/logo-light.png" alt="Logo" class="logo">
		</div>
	</div>
	<!-- Fin Encabezado -->

	<div>
			items
	</div>
	<div>
			totales
	</div>
	<div>
			condiciones comerciales			
	</div>
	<div style="column-count: 2">
		<div>
				firmas 1
		</div>
		<div>
				firmas 2
		</div>
	</div>
</div>
</body>
</html>